<footer>
  <div class="footer-wrapper centered">
    <a href="#">
      <img src="img\logo_s.png">
    </a>
    <div class="footer-top">
      <p class="footer-text-left">
        CCAPDEV MP &bull; Version 0.5
      </p>
      <p class="footer-text-right">
        Anton Sta. Ana • Miguel Leyesa • Hans Lao
      </p>
    </div>
    <div class="footer-bottom">
    </div>
  </div>
</footer>