<link rel="stylesheet" type="text/css" href="styles\navstyle.css">

<script>
  /* Hidden Navigation Bar */
  window.onscroll = function() {
      scrollFunction()
  };
  function scrollFunction() {
      if (document.body.scrollTop > 156 || document.documentElement.scrollTop > 156) {
          document.getElementById("hidden-navbar").style.top = "0";
      } else {
          document.getElementById("hidden-navbar").style.top = "-70px";
      }
  }
</script>

<header>
    <!-- Hidden Navigation Bar -->
    <div id="hidden-navbar">
        <div id="header-bottom-wrapper">
            <div class="nav-wrapper light">
              <a href="/">
                <img src="img/logo_s.png">
              </a>
                <ul>
                  <li><a href="home" class="nav-light nav-text">Home</a></li>
                  <li><a href="classrooms" class="nav-light nav-text">Classrooms</a></li>
                  <li><a href="offices" class="nav-light nav-text">Offices</a></li>
                  <li><a href="food" class="nav-light nav-text">Food</a></li>
                  <li><a href="about" class="nav-light nav-text">About</a></li>
                  {{#if loggedin}}
                  <li style="float:right"><a href="/myprofile" class="nav-light nav-text">{{name}}</a></li>
                  {{else}}
                  <li style="float:right"><a href="/login" class="nav-light nav-text">Login</a></li>
                  {{/if}}
                </ul>
            </div>
        </div>
        <div class="line"></div>
    </div>

    <!-- Logo -->
    <div class="logo-wrapper">
      <a href="/">
        <img src="img\logo.png">
      </a>
    </div>

    <!-- Navigation Bar -->
    <div id="header-bottom-wrapper">
        <div class="nav-wrapper light">
            <ul>
              <li><a href="home" class="nav-light nav-text">Home</a></li>
              <li><a href="classrooms" class="nav-light nav-text">Classrooms</a></li>
              <li><a href="offices" class="nav-light nav-text">Offices</a></li>
              <li><a href="food" class="nav-light nav-text">Food</a></li>
              <li><a href="about" class="nav-light nav-text">About</a></li>
              {{#if loggedin}}
              <li style="float:right"><a href="/myprofile" class="nav-light nav-text">{{name}}</a></li>
              {{else}}
              <li style="float:right"><a href="/login" class="nav-light nav-text">Login</a></li>
              {{/if}}
            </ul>
        </div>
    </div>
    <div class="line"></div>
</header>