<footer>
  <div class="footer-wrapper centered">
    <a href="#">
      <img src="img\logo_s.png">
    </a>
    <div class="footer-top">
      <p class="footer-text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="footer-text-right">
        Anton Sta. Ana • Miguel Leyesa • Hans Lao<br>
        Version 0.5
      </p>
    </div>
    <div class="footer-bottom">
    </div>
  </div>
</footer>