<link rel="stylesheet" type="text/css" href="styles/profilestyle.css">
<link rel="stylesheet" type="text/css" href="styles/aboutstyle.css">

<!-- Divider -->
<div class="divider centered"><p>About</p></div>

<!-- About -->
<div class="about-wrapper">
    <div class="about">
    <p>
        about (to be filled)
    </p>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>