<link rel="stylesheet" type="text/css" href="styles/profilestyle.css">
<link rel="stylesheet" type="text/css" href="styles/editprofilestyle.css">

<script>
    function updateDetails() {
        document.getElementById('detailsmsg').innerHTML = "";

        if (document.getElementById('name').value == "" || document.getElementById('email').value == "" || document.getElementById('bio').value == "") {
            document.getElementById('detailsmsg').innerHTML = "Missing Fields!";
        } else {
            var data = {
                name: document.getElementById('name').value,
                email: document.getElementById('email').value,
                bio: document.getElementById('bio').value
            };

            $.post('updateDetails', data, function(response, status) {
                document.getElementById('detailsmsg').innerHTML = response.message;
            });

            document.getElementById('detailsmsg').innerHTML = "Updating...";
        }
    };

    function updatePassword() {
        document.getElementById('passwordmsg').innerHTML = "";

        if (document.getElementById('passwordold').value == "" || document.getElementById('passwordnew').value == "" || document.getElementById('passwordconfirm').value == "") {
            document.getElementById('passwordmsg').innerHTML = "Missing Fields!";
        } else {
            if (document.getElementById('passwordnew').value == document.getElementById('passwordconfirm').value) {
                var data = {
                    passwordold: document.getElementById('passwordold').value,
                    passwordnew: document.getElementById('passwordnew').value,
                }
                $.post('updatePassword', data, function (response, status) {
                    document.getElementById('passwordmsg').innerHTML = response.message;
                });
            } else {
                document.getElementById('passwordmsg').innerHTML = "Passwords do not match!";
            }
        }
    };

    function showConfirm() {
        document.getElementById('confirm').style.visibility = "visible";
        document.getElementById('deleteAccountButton').style.visibility = "hidden";
    };

    function hideConfirm() {
        document.getElementById('confirm').style.visibility = "hidden";
        document.getElementById('deleteAccountButton').style.visibility = "visible";
    };

    function deleteAccount() {
        $.post('deleteAccount', {}, function (response, status) {
            window.location = response.url;
        });
    };

</script>

<div>

  <!-- Divider -->
  <div class="divider centered"><p>Update Details</p></div>

  <form class="edit-profile-wrapper">
      <p>Name</p>
      <input id="name" class="edit-profile-input" type="text" value="{{name}}"><br>
      <p>Email</p>
      <input id="email" class="edit-profile-input" type="text" value={{email}}><br>
      <p>Bio</p>
      <input id="bio" class="edit-profile-input" type="text" value="{{bio}}"><br><br>
      <div class="edit-profile-button-wrapper">
          <button type="button" class="edit-profile-button" onclick="updateDetails()">Update</button>
      </div>

      <p id="detailsmsg"></p>
  </form>

  <!-- Divider -->
  <div class="divider centered"><p>Update Password</p></div>

    <form class="edit-profile-wrapper">
        <p>Old Password</p>
        <input id="passwordold" class="edit-profile-input" type="text"><br>
        <p>New Password</p>
        <input id="passwordnew" class="edit-profile-input" type="text"><br>
        <p>Confirm New Password</p>
        <input id="passwordconfirm" class="edit-profile-input" type="text"><br><br>
        <div class="edit-profile-button-wrapper">
          <button type="button" class="edit-profile-button" onclick="updatePassword()">Update</button>
        </div>

        <p id="passwordmsg"></p>
    </form>

    <!-- Divider -->
    <div class="divider centered"><p></p></div>

    <div id="deleteAccountButton" class="edit-profile-button-wrapper">
        <button type="button" class="red edit-profile-button" onclick="showConfirm()">Delete Account</button>
    </div>

    <div id="confirm" class="hidden centered">
        <p class="centered delete-label"> Delete account? All your articles will also be deleted. <strong>This cannot be undone.</strong> </p>
        <div class="edit-profile-button-wrapper">
          <button type="button" class="gray edit-profile-button" onclick="hideConfirm()">Cancel</button>
          <button type="button" class="red edit-profile-button" onclick="deleteAccount()">Confirm</button>
        </div>
    </div>

    <!-- Divider -->
    <div class="divider centered"><p></p></div>
</div>
