<script>
    function login() {
        document.getElementById('error').innerHTML = "";
        
        var data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        };

        $.post('checkLogin', data, function(response, status) {
            if (response.success)
                window.location = response.url;
            else
                document.getElementById('error').innerHTML = "Incorrect Email or Password!";
        });
    };
</script>

<div class="login-page">
    <div class="login-form">
        <form class="login" id="login">
            <input id="email" type="text" placeholder="Email">
            <input id="password" type="text" placeholder="Password">
            <button id="submit" type="button" onclick="login()">Login</button>
            <p class="msg"> Not Yet Registered? <a href="/register">Register</a></p>
            <p id="error" class="msg"></p>
        </form>
    </div>
</div>