<script>
    function logout() {
        var data = {
            logout: true
        };

        $.post('logout', data, function(response, status) {
            if (response.success)
                window.location = response.url;
        });
    }
</script>

<link rel="stylesheet" href="styles/profilestyle.css">

<div class="centered">
    <div class="margin-20">
        <div class="title-box">
            <h2>Welcome {{name}}!</h2>
            <button onclick="logout()">Logout</button>
        </div>

        <div class="title-box">
            {{email}}
        </div>

        <h3>BIO</h3>
        <div class="bio">
            {{bio}}
        </div>

        <div class="button-box">
            <a class="button-link" href="/editprofile">edit profile</a>
            <a class="button-link" href="/myarticles">My Articles</a>
        </div>
    </div>
</div>