<script>
    function logout() {
        var data = {
            logout: true
        };

        $.post('logout', data, function(response, status) {
            if (response.success)
                window.location = response.url;
        });
    }
</script>

<div class="centered">
    <button onclick="logout()">Logout</button> <br>
    <br>

    profile of: {{name}} <br>
    email: {{email}} <br>
    <br>

    bio: {{bio}} <br>
    <br>

    <a href="/editprofile">edit profile</a> <br>

    <a href="/myarticles">My Articles</a> <br>
</div>