<link rel="stylesheet" type="text/css" href="styles/newarticlestyle.css">

<script>
    function submitArticle() {
        document.getElementById('error').innerHTML = "";

        if (document.getElementById('title').value == "" || document.getElementById('content').value == "") {
            document.getElementById('error').innerHTML = "Missing Fields!";
        } else {
            var data = {
                title: document.getElementById('title').value,
                content: document.getElementById('content').value,
                category: document.getElementById('category').options[document.getElementById('category').selectedIndex].value,
                published: document.getElementById('published').checked
            };

            $.post('newarticle', data, function(response, status) {
                window.location = response.url;
            });
        }
    };

    function display(input) {
        var image = document.getElementById("imagepreview");
        var reader = new FileReader();
        var base64;
        reader.onload = function(e) {
            document.getElementById("uploadstatus").innerHTML = "uploading...";

            base64 = e.target.result
            image.src = base64;

            $.post('/imageupload', {image: base64} , function(response, status) {
                document.getElementById("uploadstatus").innerHTML = "uploaded!";
            });
        }

        reader.readAsDataURL(input.files[0]);
    }
</script>

<div>

  <!-- Divider -->
  <div class="divider centered"><p>New Article</p></div>

  <form class="new-article-wrapper">
      <p>Title</p>
      <input id="title" class="new-article-input" type="text"><br>
      <p>Image</p>
      <input type="file" class="new-article-input" accept="image/*" onchange="display(this)"><br>
      <img height="300px" id="imagepreview"><br>
      <div id="uploadstatus"></div><br>
      <p>Content</p>
      <textarea rows="40" cols="100" class="new-article-input" id="content"></textarea><br>
      <p>Category</p>
      <select id="category" class="new-article-input">
          <option value="classrooms">Classrooms</option>
          <option value="offices">Offices</option>
          <option value="food">Food</option>
      </select><br>
      <p>Publish?</p>
      <input id="published" class="new-article-input left-align" type="checkbox"><br>
      <br>

      <div class="new-article-button-wrapper">
        <button type="button" class="new-article-button" onclick="submitArticle()">Save</button>
      </div>

      <p class="error-label" id="error"></p>
  </form>
</div>
