/* Existing Classes */
header {
  background-color: white;
}

body {
  padding: 0px;
  margin: 0 auto;
  font-family: 'myriad-pro', sans-serif;
  background-color: #f0f0f0;
}

footer {
  padding: 0px;
  margin: 0 auto;
  background-color: black;
}

a {
  padding: 0;
  margin: 0;
}

/* General Use */
.centered {
  width: 70%;
  max-width: 1128px;
  margin: 0 auto;
}

.text-dark {
  color: black;
}

.text-light {
  color: white;
}

/* Overlay */
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  width: 80%;
  max-width: 300px;
  top: 46%;
  margin-top: 30px;
  margin: auto;
  text-align: center;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 70%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  height: 100%;
  width: 15%;
  padding: 15px;
  background-color: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

/* Login */
.login-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0,0,0, 0.9);
}

.login-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.login-overlay .closebtn:hover {
  color: #ccc;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.login-form {
  position: relative;
  z-index: 2001;
  background: #000;
  max-width:360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.login-form input {
    outline: none;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button
{
  text-transform: uppercase;
  outline: 0;
  background: orange;
  width: 100%;
  border: none;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: .5s;
}

.login-form button:hover, .login-form button:active {
  background: green;
  border: none;
}

.login-form .msg {
  margin: 15px 0 0;
  color: #fff;
  font-size: 12px;
}

.login-form .msg a {
  color: orange;
  text-decoration: none;
}

.register {
  display: none;
}

/* Logo */
.logo-wrapper {
  height: 150px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #FFFFFF;
}

.logo-wrapper img {
  height: 150px;
}

#header-top-wrapper {
  height: auto;
  width: 70%;
  display: block;
}

/* Section Divider */
.divider {
  display: block;
  text-transform: uppercase;
  font-family: myriad-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
}

.divider p {
  margin-left: 16px;
}

/* Featured Article */
.image-dimmer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.image-box {
    height: 500px;
    position: relative;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.image-box img {
    max-width: 100%;
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: 500px;
    transform: scale(1);
    object-fit: cover;
}

.image-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-box:hover img {
    transform: scale(1.05);
}

/* Article Cards */
.card-wrapper {
  width: 70%;
  max-width: 1128px;
  margin: auto;
}

.feed {
  max-width: 1128px;
  margin-left: 2.333%;
}

.card {
  display: inline-block;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-has-margin {
  margin-right: 3.333%;
  margin-bottom: 3.333%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
  position: relative;
  margin: auto;
  overflow: hidden;
  transition: 0.3s;
}

.card-img img {
  width: 100%;
  transition: all 0.5s;
  display: block;
  width: 100%;
  height: 300px;
  transform: scale(1);
  object-fit: cover;
}

.card-img:hover img {
    transform: scale(1.05);
}

.card-container {
  height: 126px;
  position: relative;
  margin: auto;
  overflow: hidden;
  color: black;
  background-color: white;
}

.card-container h4 {
  margin: 0px;
  padding: 1px;
  font-size: 18px;
}

.card-container p {
  margin: 0px;
  padding: 1px;
  font-size: 14px;
  text-align: justify;
}

/* Text & Tag Blocks*/
.text-block {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: 3;
}

.text-block h4 {
  margin: 0px;
  padding: 1px;
  font-size: 24px;
}

.text-block p {
  margin: 0px;
  padding: 1px;
  font-size: 14px;
  text-align: justify;
}

.card-container .text-block h4 {
  margin: 0px;
  padding: 1px;
  font-size: 16px;
}

.tag-wrapper {
  position: absolute;
  bottom: 16px;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 3;
}

.tag-wrapper p {
  text-transform: uppercase;
}

.tag-block {
  text-decoration: none;
}

.tag-block p {
  margin: 0px;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 10%;
}

/* Footer */
.footer-wrapper {
  margin: auto;
  text-align: center;}

.footer-wrapper img {
  height: 80px;
  margin-top: 1em;
}

.footer-text-left {
  width: 50%;
  text-align: left;
  float: left;
  color: white;
  display: inline-block;
  vertical-align:top;

}

.footer-text-right {
  width: 50%;
  text-align: right;
  color: white;
  display: inline-block;
  vertical-align:top;
}


.pagination-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.pagination-box a {
  text-decoration: none;
}

.active {
  background-color: #ffcc66;
}

.page-item {
  padding: 10px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5px;
  border: solid black 1px;
}

.hidden {
  visibility: hidden;
}